

@media (max-width: 600px) {

    /*html, body {*/
    /*    overflow-y: hidden;*/
    /*}*/

    .chat {
        width: 100vw !important;
    }

    .chatWindow {
        width: 100%;
    }
}

.chatWindow {
    overflow-y: hidden;
    height: 90vh;
}


@media (min-width: 600px) {
    .chatWindow {
        width: 100% !important;
        max-width: inherit;
    }

}

.chat {
    position: relative;
    background-color: var(--chat-bg-color);
    /*background-image: url("https://wallpapercave.com/wp/wp9875549.jpg");*/
    /*background-image: url("https://i.pinimg.com/736x/67/37/ec/6737ecdb57c1381079cede4a35b1a5d4.jpg");*/
    /*background-image: url("https://wallpapers.com/images/hd/whatsapp-chat-background-fb34cc4b2hg9lmix.jpg");*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}