

.addImg {
    color: white;
    background: none;
    border: dashed rgba(255, 255, 255, 0.47) 1px;
    transition: border 500ms;
    border-radius: 5px;
    width: 80px;
    height: 80px;
}

.sendBtn {
    cursor: pointer;
    background-color: #2b2bf8;
    transition: background-color 400ms!important;
}

.sendBtn:hover {
    background-color: blue!important;
}

.editBtn {
    cursor: pointer;
    background-color: #008000;
    transition: background-color 400ms!important;
}

.editBtn:hover {
    background-color: #05a100 !important;
}

.toolBtn {
    border: none;
}

.addImg:hover {
    cursor: pointer;
    border: dashed rgb(255, 255, 255) 1px;
}

.input {
    font-family: 'Source Serif 4', serif;
    padding: 5px;
    border-radius: 7px;
}

.input:focus {
    -webkit-box-shadow: 5px 6px 29px -19px rgba(3,0,209,1);
    -moz-box-shadow: 5px 6px 29px -19px rgba(3,0,209,1);
    box-shadow: 5px 6px 29px -19px rgba(3,0,209,1);
    outline: none !important;
    border: solid rgba(0, 0, 255, 0.59) 1px;
}
