

.user {
    width: 100%;
    background-color: #F9F1F3;
}

.name {
    padding: 5px;
    font-size: 20px;
    margin-left: 10px;
    font-weight: 600;
    color: black;
}

.date {
    margin-right: 10px;
    font-size: 16px;
    font-weight: 600;
}