

.allnewsWrapper {
    padding-top: 20vh;
    padding-bottom: 150px;
    background: linear-gradient(to bottom, #585754, #F2F1EB);
}

.AllNewsList {
    max-width:735px;
    gap: 20px!important;
    margin: 0;
}



.whiteNewsCard {
    position: relative;
    box-shadow: none;
    font-family: 'Source Serif 4', serif;
    background-color: #FFF;
    max-height: 480px;
    max-width: 277px;
}

.AllNewsPageWideCard {
    max-height: 730px;
    max-width: 845px;
}

.AllNewsPageCard {
       max-width: 370px!important;
    max-height: 520px!important;
}

.whiteNewsCard:hover {
    box-shadow: none;
}

.whiteNewsCard .newsCardDescription {
    font-size:18px;
    font-weight: 400;
}

.whiteNewsCard .newsCardDescription:hover {
    text-decoration: underline;
}

.whiteNewsCard .newsCardContent {
    padding: 20px;
}


/*.NewsWrapper div:first-of-type  {*/
/*    max-height: 700px;*/
/*}*/