


.message {
    transition: display 1s;
    width: fit-content;
    padding: 0 10px 10px 10px;
    color: #FFF;
    border-radius: 2px;
    margin: 5px 3em 5px 0;
    /*background-color: #46304A;*/
    background-color: var(--message-bg-color);
    font-family: 'Libre Baskerville', serif;
}

.messageImg {
    min-width: 35px;
    border-radius: 5px;
}

.loadNewMessagesHandler {
    height: 4px;
    background-color: red;
    position: relative;
    top: 0px;
}

.messagesWrapper {
    max-height: 600px;
    overflow-x: hidden;
    height: inherit;
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: rgba(108, 108, 108, 0.62) rgba(255, 165, 0, 0);   /* scroll thumb and track */
    padding: 8px;
    align-self: flex-start;
    overflow-y: scroll;
    width: 100%;

}


.messagesWrapper::-webkit-scrollbar-thumb {
    background-color: rgba(108, 108, 108, 0.62);    /* color of the scroll thumb */
}

.messagesWrapper::-webkit-scrollbar-track {
    background: rgba(255, 165, 0, 0);        /* color of the tracking area */
}

.messagesWrapper::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
}

.user {

}

.repliedMessage {
    cursor: pointer;
    background-color: #00000030;
    border-left: #282A3E solid;
    padding: 5px;
    width: 100%;
    transition: background-color 300ms;
}

.repliedMessage:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.senderName {
    font-size: 15px;
    font-weight: 300;
}

.messageText {
    white-space: pre-wrap;
    color: #FFF;
    font-weight: 400;
    margin-top: 3px;
    font-family: 'Source Serif 4', serif;
}

.messageDate {
    position: relative;
    top: -2px;
    color: rgba(189, 189, 189, 0.94);
    font-size: 12px;
    font-weight: 400;
    font-family: serif;
}


.chatBarItem {
    cursor: pointer;
    background-color: rgba(165, 151, 139, 0.78);
    border: solid rgba(92, 71, 66, 0.15) 3px ;
    padding: 5px 10px;
    border-radius: 3px;
    max-width: 300px;
    transition: background-color 130ms;
}

.chatBarItem:hover {
    background-color: rgb(145, 128, 116);
}

.chatBarItem:active {
    background-color: #C1C1D7;
}

.unreadMessagesFloatButtonWrapper {
    position: absolute;
    bottom: 55px;
    right: 10px;
    transition: all 2s linear;
}



.stickyBadge {
    top: 15px;
    position: -webkit-sticky;
    position: sticky;
}

.unreadMessagesFloatButton {
    color: var(--chat-float-button-border-color);
    border: solid 3px var(--chat-float-button-border-color);
    background-color: var(--chat-float-button-bg-color);
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
}

.unreadMessagesFloatButton:not(:active) {
    /*animation: example 1s ease-in;*/
    transition: background-color 1000ms;
}

.unreadMessagesFloatButton:hover {
    border: solid 3px rgba(196, 187, 175, 0.6);

}

.chatPageWrapper {
    min-height: 100vh;

    background-color: var(--forum-primary-bg-color);
}

.chatWrapper {

}


@media (min-width: 600px) {

    .chatWrapper {
        display: flex;
        max-width: 70vw;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .message {
        max-width: 82vw;
    }

    .chatPageWrapper {
        padding-top: 0;
    }

    .messagesWrapper {
        padding: 0;
        max-width: initial;
        max-height: initial;
        height: 100%;
    }

    .chatsWrapper {
        display: none;
        /*padding: 5px;*/
        /*margin-top: 10px!important;*/
        /*width: 100vw!important;*/
    }

    .chatBarItem {
        max-width: inherit;
        width: 100% !important;
    }
}


.chatsWrapper {
    margin-top: 5vh;
    max-width: 300px;
}

.unreadMessagesFloatButton:active {
    background: radial-gradient(circle, #C4BBAF 0%, #8D5B4C 100%);
}


.unreadMessagesFloatButtonWrapper span sup {
    transform: translate(-45%, -66%) !important;
}

