

.mainImg {
    position: relative;
    background-image: url("../../assets/Screenshot (60).png");
    /* Set a specific height */
    min-height: 1000px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.content {
    padding-bottom: 50px;
    color: black;
}