.wrapper {
    /*position: relative;*/
    /*background-image: url("../../assets/bg1.png");*/
    /*!* Set a specific height *!*/
    /*min-height: 1000px;*/

    /*background-attachment: fixed;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/

    min-height: 100%;
}

.parallaxWrapper {

}

.paralax {
    min-height: 100vh;
}
.paralax_body {
}
.paralax_images {
    height: 100vh;
    align-items: center;
    display: flex;
}

.paralax_images img {
    width: 400px;
    height: 400px;
}

.images_paralax {

}

.images_parallax_item {
}

.parallax_item_1 {
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*left: 0;*/
    background: top / cover no-repeat;
}
.parallax_item_2 {
    background: top / cover no-repeat;
}
.parallax_item_3 {
    background: top / cover no-repeat;
}