

.footerTitle {
    max-width: 500px;
    letter-spacing: 5px;
    font-weight: 300;
    color: #FFF;
    background: -webkit-linear-gradient(white, #cde0f6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
}

.footerBody {
    margin-left: 10vw;
    font-size: 10px;
    font-family: 'Source Serif 4', serif;
}

.copyright {
    font-weight: 300;
    color: #FFF;
    background: -webkit-linear-gradient(white, #cde0f6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 15px;
}