

.chat:hover {
    border-radius: 25px;
    background-color: #CDCDDF;
}

.chat:active {
    background-color: #C1C1D7;
}

.pageWrapper {
    padding: 20px 0;
    max-width: 800vw;
    width: 100%;
}

.TopicsList {
    width: inherit;
}

.chat {
    width: fit-content;
    user-select: none;
    transition: background-color 100ms;
    cursor: pointer;
    padding: 5px 10px;
    background-color: var(--forum-secondary-bg-color);
    border: solid rgba(92, 71, 66, 0.15) 3px ;
}

.topic {
    width: fit-content;
    padding: 5px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background-color: var(--forum-secondary-bg-color);
}

@media (max-width: 600px) {
    .pageWrapper {
        max-width: 95vw;
    }

    .TopicsList {
        padding: 10px;
        width: 100%;
    }
    .topic {
        width: 100%;
    }

    .chat {
        width: 100%;
    }
}