@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&family=Libre+Baskerville&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');

.container {

}


.nonSelect {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body {
    height: 100%;
    overflow-x: hidden;
    font-family: 'Roboto', serif;
    box-sizing: border-box;
    padding: 0;
    margin:  0;
}


.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}